<%= image_tag @illustration.path, :class => "large-pic" %>

<p>
  <strong>Title:</strong>
  <%= @illustration.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @illustration.description %>
</p>