<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav id="nav-menu">
  		<ul id="nav-list">
  		<!-- http://stackoverflow.com/questions/25537881/how-can-i-make-my-navbar-appear-on-every-page-in-my-rails-app -->
  			<li id="nav-jen"><a href="#">Jen Laiting</a></li>
  			<li><a href="#">Motion</a></li>
  			<li><a href="#">Illustration</a></li>
  			<li><a href="#">Game</a></li>
  			<li><a href="#">About</a></li>
  		</ul>
  	</nav>

    <%= yield %>
  </body>
</html>
